@font-face {
  font-family: "Averta Demo PE Cutted Demo";
  src: local("Averta Demo PE Cutted Demo Regular"), local("AvertaDemoPECuttedDemo-Regular"),
      url("../fonts/Avertademopecutteddemoregular.woff2") format("woff2"), url("../fonts/Avertademopecutteddemoregular.woff") format("woff"),
      url("../fonts/Avertademopecutteddemoregular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Bold.eot");
  src: local("Proxima Nova Bold"), local("ProximaNova-Bold"), url("../fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"),
      url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #ffffff;
}

html::-webkit-scrollbar-thumb {
  background: rgba(38, 57, 237, 1);
  border-radius: 5rem;
}

body {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Averta Demo PE Cutted Demo";
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  padding-top: 47px;
  position: relative;
  min-height: 724px;
}

nav {
  display: flex;
  justify-content: space-between;
}

.nav_logo a {
  font-family: "Averta Demo PE Cutted Demo";
  font-style: normal;
  font-weight: 700;
  font-size: 27.1472px;
  line-height: 33px;
  color: #000000;
  text-decoration: none;
}

.nav_logo a span {
  font-family: "Proxima Nova";
}

.nav_list {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 60px;
}

.nav_list li a {
  font-family: "Averta Demo PE Cutted Demo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: #000000;
  text-decoration: none;
}

.header_main {
  margin-top: 47px;
}

.main_text {
  margin-top: 127px;
  position: relative;
}

.main_title {
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  color: #000000;
}

.main_subtitle {
  margin-top: 40px;
  max-width: 471px;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #565656;
}

.main_btn {
  margin-top: 33px;
  padding: 20px 40px;
  background: #2639ed;
  border-radius: 60px;
  border: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.065em;
  color: #ffffff;
  cursor: pointer;
}

.main_img {
  position: absolute;
  top: 116px;
  right: 0;
}

.main_img::before {
  content: "";
  width: 129px;
  height: 129px;
  position: absolute;
  background: #dae9ff;
  border-radius: 50%;
  top: 0;
  left: -63px;
  z-index: -1;
}

.main_img::after {
  content: "";
  width: 129px;
  height: 129px;
  position: absolute;
  background: #fff5db;
  border-radius: 0px 0px 100px 0px;
  bottom: -96px;
  right: 120px;
  z-index: -1;
}

.decor {
  position: absolute;
  bottom: -119px;
  z-index: -1;
  left: -52px;
}

.clients {
  margin-top: 40px;
  margin-bottom: 234px;
}

.clients_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clients_title {
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  color: #000000;
}

.clients_descr {
  margin-top: 17px;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #757575;
  /* max-width: 336px; */
}

.clients_item {
  cursor: pointer;
}

.clients_items {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.help {
  position: relative;
}

.help_wrap {
  display: flex;
  justify-content: space-between;
}

.help_text {
  margin-top: 220px;
  position: relative;
}

.help_title {
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  color: #000000;
  max-width: 358px;
  position: relative;
}

.help_title::before {
  content: "";
  position: absolute;
  width: 178px;
  height: 178px;
  background: #fff5db;
  border-radius: 0px 0px 100px 0px;
  transform: rotate(-180deg);
  z-index: -1;
  left: -38px;
  top: -60px;
}

.help_descr {
  max-width: 396px;
  margin-top: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #565656;
}

.help_items {
  display: flex;
  row-gap: 30px;
  column-gap: 34px;
  flex-wrap: wrap;
  justify-content: flex-end;
  max-width: 650px;
  position: relative;
}

.help_item {
  padding: 39px 32px 57px;
  background: #ffffff;
  border: 1px solid #f2f2f2;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.05);
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  max-width: 308px;
}

.item_img {
  background: #f1f7ff;
  border-radius: 20px;
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.item_name {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #000000;
  margin-top: 31px;
}

.item_descr {
  margin-top: 27px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #757575;
}

.help_item:first-child,
.help_item:nth-child(3) {
  transform: translateY(-61px);
}

.help_item:nth-child(2),
.help_item:last-child {
  transform: translateY(-140px);
}

.help_decor {
  position: absolute;
  background: #f4f9ff;
  border-radius: 150px 0px 0px 0px;
  width: 68%;
  height: 619px;
  z-index: -1;
  top: 0;
  right: 0;
}

.help_items::after {
  content: "";
  border-radius: 50%;
  position: absolute;
  right: -40px;
  bottom: 97px;
  width: 120px;
  height: 120px;
  z-index: -1;
  border: 8.8px solid #ff007a;
}

.help_text::after {
  content: "";
  position: absolute;
  width: 405px;
  height: 154px;
  background: url("../images/Dot\ Blue.png") no-repeat center / cover;
  bottom: 130px;
  left: 0;
  z-index: -2;
}

.product {
  margin-top: 85px;
  margin-bottom: 181px;
}

.product_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product_img img {
  box-shadow: 10px 20px 50px rgba(0, 0, 0, 0.15);
  border-radius: 32px;
}

.product_img {
  position: relative;
}

.product_img::after {
  content: "";
  position: absolute;
  z-index: -1;
  background: #fff5db;
  border-radius: 50%;
  width: 129px;
  height: 129px;
  bottom: -64px;
  right: -41px;
}

.product_title {
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  color: #000000;
  max-width: 468px;
  position: relative;
}

.product_title::before {
  content: "";
  position: absolute;
  z-index: -1;
  background: #eff1ff;
  border-radius: 0px 0px 100px 0px;
  width: 178px;
  height: 178px;
  top: -24px;
  left: -39px;
}

.product_descr {
  margin-top: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  max-width: 532px;
  color: #565656;
}

.reviews_title {
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  text-align: center;
  color: #000000;
}

.reviews .container {
  max-width: 1254px;
}

.reviews_subtitle {
  margin-top: 17px;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  text-align: center;
  color: #757575;
}

.reviews_wrap {
  margin-top: 113px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.reviews_img {
  filter: drop-shadow(10px 20px 50px rgba(0, 0, 0, 0.15));
  border-radius: 500px 0px 500px 500px;
  width: 389px;
  height: 389px;
}

.reviews_img img {
  object-fit: cover;
  border-radius: 500px 0px 500px 500px;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}

.reviews_img::before {
  content: "";
  position: absolute;
  width: 120px;
  height: 120px;
  border: 8.8px solid #ff007a;
  border-radius: 50%;
  bottom: -12px;
  left: -10px;
  z-index: -1;
}

.reviews_img::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 196px;
  height: 154px;
  background: url("../images/Dot.png");
  top: -42px;
  left: 235px;
}

.reviews_text {
  min-height: 185px;
}

.reviews_carusel {
  position: relative;
  min-height: 151px;
  width: 412px;
}

.reviews_item {
  opacity: 0;
  position: absolute;
  top: 0px;
  transition: all 0.5s;
}

.reviews_item.active {
  opacity: 1;
}

.reviews_name {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
}

.reviews_descr {
  margin-top: 21px;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #565656;
  height: 100px;
}

.dots {
  margin-top: 40px;
  display: flex;
  gap: 26px;
}

.dots span {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #e7f0fc;
  cursor: pointer;
  transition: all 0.3s;
}

.dots span.active-dot {
  background: #2639ed;
}

.reviews_all {
  position: relative;
  width: 348px;
  height: 355px;
}

.reviews_all:after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 184px;
  height: 184px;
  background: #fff5db;
  border-radius: 50%;
  bottom: 64px;
  left: 21px;
}

#man1 {
  position: absolute;
  top: 58px;
  left: 0;
  width: 98px;
  height: 98px;
}

#man2 {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 68px;
  height: 68px;
}
#man3 {
  position: absolute;
  top: 63px;
  right: 45px;
  width: 54px;
  height: 54px;
}
#man4 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 54px;
  height: 54px;
}
#man5 {
  position: absolute;
  top: 107px;
  right: 104px;
  width: 120px;
  height: 120px;
}
#man6 {
  position: absolute;
  bottom: 84px;
  left: 0;
  width: 68px;
  height: 68px;
}
#man7 {
  position: absolute;
  bottom: 0;
  left: 98px;
  width: 98px;
  height: 98px;
}
#man8 {
  position: absolute;
  bottom: 60px;
  right: 54px;
  width: 68px;
  height: 68px;
}

.man_img {
  cursor: pointer;
  border-radius: 50%;
}

.man_img img {
  border-radius: 50%;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.subscribe {
  margin-top: 148px;
}

.subscribe_wrap {
  background-color: #f4f9ff;
  border-radius: 75px;
  padding: 98px 98px 99px 92px;
  background-image: url("../images/Rectangle\ 31.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  gap: 20px;
}

.subscribe_wrap::before {
  content: "";
  position: absolute;
  border-radius: 0px 0px 100px 0px;
  transform: rotate(90deg);
  bottom: -39px;
  left: -38px;
  width: 178px;
  height: 178px;
  background: #fff5db;
  z-index: -1;
}

.subscribe_wrap:after {
  content: "";
  position: absolute;
  width: 175px;
  height: 154px;
  background: url("../images/Group\ 73.png") no-repeat center / cover;
  top: -56px;
  right: -37px;
  z-index: -1;
}

.subscribe_title {
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  color: #000000;
}

.subscribe_subtitle {
  margin-top: 17px;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #757575;
}

::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #959595;
}

.subscribe_input {
  position: relative;
  height: 100%;
}

.subscribe_input input {
  background: #ffffff;
  border: 1px solid #f1f1f1;
  box-shadow: 10px 20px 50px rgba(0, 0, 0, 0.15);
  border-radius: 60px;
  padding: 30px 34px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #959595;
  width: 479px;
  outline: none;
}

.subscribe_input::after {
  content: "Contact Now";
  background: #2639ed;
  border-radius: 60px;
  position: absolute;
  padding: 15px 40px;
  width: 70px;
  height: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.065em;
  color: #ffffff;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

footer {
  margin-top: 146px;
  margin-bottom: 23px;
}

.footer_wrap {
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #f1f1f1;
  padding-top: 60px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
}

.footer_logo-text a {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.footer_logo-text a span {
  font-family: "Proxima Nova";
}

.footer_text {
  font-family: "Averta Demo PE Cutted Demo";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: #565656;
  max-width: 270px;
  margin-top: 27px;
}

.footer_social {
  margin-top: 40px;
  display: flex;
  gap: 16px;
}

.social_item {
  cursor: pointer;
}

.footer_lists {
  display: flex;
  gap: 110px;
}

.footer_title {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
  margin-bottom: 24px;
}

.footer_list {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.footer_list li a {
  font-weight: 400;
  font-size: 14px;
  line-height: 200%;
  color: #000000;
}

.copy {
  margin-top: 17px;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: #a4a4a4;
  text-align: center;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.nav_logo {
  transition: all 0.5s;
}

.nav_logo:hover {
  transform: scale(1.05);
}

.nav_list li {
  position: relative;
  transition: all 0.3s;
}

.nav_list li:after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: #2639ed;
  bottom: -3px;
  left: 0;
  transition: all 0.3s;
}

.nav_list li:hover {
  transform: translateY(-3px);
}

.nav_list li:hover::after {
  width: 100%;
}

.main_btn {
  transition: all 0.3s;
  border: 1px solid #2639ed;
}

.main_btn:hover {
  color: #2639ed;
  background: #fff;
  transform: translateY(-5px)
}

.main_img img{
  transition: all 0.3s;
}

.main_img img:hover {
  transform: translateX(-15px);
}

.clients_items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.clients_item:last-child {
  transform: translateY(10px);
}

.clients_item:hover {
  scale: 1.05;
}

.help_item {
  transition: all 0.3s;
}

.help_item:first-child:hover, .help_item:nth-child(3):hover {
  transform: translateY(-69px);
}

.help_item:nth-child(2):hover, .help_item:last-child:hover {
  transform: translateY(-148px);
}

.item_img {
  transition: all 0.3s;
}

.item_img:hover {
  transform: scale(1.05);
}

.product_img img {
  transition: all 0.5s;
}

.product_img img:hover {
  transform: scale(1.02);
}

.reviews_img img {
  transition: all 0.3s;
}

.reviews_img img:hover {
  transform: scale(1.03);
}

.man_img {
  transition: all 0.3s;
}

.man_img:hover {
  scale: 1.05;
}

.dots span {
  transition: all 0.3s;
}

.dots span:hover {
  transform: translateY(-5px);
}

.subscribe_input::after {
  transition: all 0.3s;
  border: 1px solid #2639ed;
}

.subscribe_input:hover::after {
  color: #2639ed;
  background: #ffffff
}

.footer_logo-text {
  transition: all 0.3s;
}

.footer_logo-text:hover {
  scale: 1.03;
}

.social_item {
  transition: all 0.5s;
}

.social_item:hover {
  transform: translateY(-5px);
}

.footer_list li {
  transition: all 0.3s;
}

.footer_list li:hover {
  transform: translateX(3px);
}

.footer_list li a {
  position: relative;
}

.footer_list li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: #2639ed;
  bottom: -2px;
  left: 0;
  transition: all 0.7s;
}

.footer_list li a:hover::after {
  width: 100%;
}